<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  [ngStyle]="{display: (close) ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title error" id="exampleModalLabel">Ha ocurrido un Error</h5>
      </div>
      <div class="modal-body">
        <pre> <code> {{response}}</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>